FORMAT: 1A
HOST: https://app.fakturoid.cz/api/v2


# Fakturoid API v2

API dokumentace pro [Fakturoid](https://www.fakturoid.cz). Důležité [změny oproti API v1](#reference/changelog).

# Požadavek
Požadavky je nutné posílat pomocí __HTTPS__. Všechny URL adresy začínají `https://app.fakturoid.cz/api/v2`. Pro identifikaci účtu slouží parametr `slug` (dříve subdoména), který je součástí adresy většiny požadavků.

### Příklad: seznam faktur

```
curl -u vas@email.cz:API_TOKEN -H 'User-Agent: YourApp (yourname@example.com)' \
    https://app.fakturoid.cz/api/v2/accounts/{slug}/invoices.json
```

### Příklad: vytvoření faktury

Pro vytvoření nebo úpravu záznamu musíte přidat hlavičku `Content-Type: application/json` a data ve formátu JSON.

```
curl -u vas@email.cz:API_TOKEN -H 'User-Agent: YourApp (yourname@example.com)' \
    -H 'Content-Type: application/json' \
    -X POST -d '{ "subject_id": "28" }' \
    https://app.fakturoid.cz/api/v2/accounts/{slug}/invoices.json
```


# Identifikace vaší aplikace

Všechny požadavky musí obsahovat hlavičku `User-Agent` se jménem vaší aplikace a odkazem na ni nebo e-mailovou adresou.

```
User-Agent: YourApp (yourname@example.com) 
```

Na požadavek bez této hlavičky server vrátí odpověď `400 Bad Request`.


# Pouze JSON

API podporuje pouze formát JSON. Všude používejte kódování UTF8. Při použití jiného formátu dostanete ze serveru odpověď `415 Unsupported Media Type`.


# Ověření

Ověření se provádí přes HTTP BASIC AUTH, kde jako username slouží váš email a za heslo uvedete api_token (zjistíte v Nastavení vašeho účtu v záložce _Já_). 

### Příklad

```
curl -u vas@email.cz:653638dc733afce75130303fe6e6010f63768af0 \
    -H 'User-Agent: YourApp (yourname@example.com)' \
    https://app.fakturoid.cz/api/v2/accounts/{slug}/account.json
```

Při zadání špatných přihlašovacích údajů dostanete ze serveru odpověď `401 Unauthorized`.


# HTTP Cache

Pro maximální výkon API i vaší aplikace používejte http cache. Všechny `GET` akce (kromě <a href="#reference/reports">reportů</a>) vrací hlavičku `ETag` a akce,
které nejsou nad kolekcemi dat vrací i hlavičku `Last-Modified`. Při prvním dotazu si tyto hodnoty uložte
a při dalších dotazech používejte hlavičky `If-None-Match` a `If-Modified-Since`. Pokud se hodnota 
zdroj od posledního dotazu nezměnil dostanete zpět odpověď `304 Not Modified`, která ušetří čas vynaložený na
zpracování dat na serveru a stahování dat, která už máte.

# Stránkování

Stránkování se používá u všech akcí, které vrací více než jeden záznam. Záznamy jsou stránkovány po 20.
Na další stránku je možné přejít použitím parametru `?page`.

### Příklad použití stránkování

```
curl -u vas@email.cz:API_TOKEN -H 'User-Agent: YourApp (yourname@example.com)' \
    https://app.fakturoid.cz/api/v2/accounts/{slug}/invoices.json?page=5
```

## Hlavička Link

Do hlavičky `Link` jsou vloženy informace o stránkování.

### Příklad

```
Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices.json?page=6>; rel="last", 
    <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices.json?page=2>; rel="next"
```

*Odřádkování je jen pro přehlednost.*

Možné hodnoty `rel` atributu:

+ `next` ... url následující stránky
+ `last` ... url poslední stránky
+ `first` ... url první stránky
+ `prev` ... url předchozí stránky

# Ošetření chyb

V případě problémů v robotových obvodech může být API dočasně nedostupné, v takovém případě bude chybová odpověď `5XX`. Je zodpovědností klienta, aby v takovém případě požadavek vyzkoušel znovu.

## Stav pouze pro čtení

V případě údržby, kdy je robot ve stavu pouze pro čtení dostanete u HTTP POST, PATCH a DELETE akcí odpověď ze serveru `503 Service Unavailable`

## Rate limit

V případě překročení povoleného počtu požadavků z jedné IP adresy během posledních 5 minut server odpoví `429 Too Many Requests`. 

## Zablokovaný účet

Máte-li zablokovaný účet, dostanete odpověď serveru `402 Payment Required`.

# Knihovny
* [PHP](https://github.com/fakturoid/fakturoid-php) - oficiální knihovna pro PHP
* [Ruby](https://github.com/fakturoid/fakturoid-ruby) - oficiální knihovna pro Ruby (a Rails)
* [Python](https://github.com/farin/python-fakturoid) - neoficiální knihovna pro Python
* [.NET](https://github.com/ridercz/Fakturoid-API) - neoficiální knihovna pro .NET

# Integrace platebních metod

Nastavení integrací platebních metod ve Fakturoidu:

* [PayPal](https://www.fakturoid.cz/blog/2014/11/25/paypal)
* [GoPay](https://www.fakturoid.cz/blog/2015/10/06/platebni-brana-gopay)

# Group Account

## Účet

__Poznámka:__ Účet je pouze pro čtení, pro změny použijte prosím webové rozhraní.

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>
<tr><td>subdomain</td><td>Název účtu (slug)</td><td>string</td></tr>
<tr><td>plan</td><td>jméno tarifu</td><td>string</td></tr>
<tr><td>plan_price</td><td>cena tarifu</td><td>integer</td></tr>

<tr><td>email</td><td>email vlastníka účtu</td><td>string</td></tr>
<tr><td>invoice_email</td><td>email, ze kterého jsou odesílány faktury</td><td>string, optional</td></tr>
<tr><td>phone</td><td>telefon vlastníka účtu</td><td>string, optional</td></tr>
<tr><td>web</td><td>web vlastníka účtu</td><td>string, optional</td></tr>

<tr><td>name</td><td>jméno firmy</td><td>string</td></tr>
<tr><td>full_name</td><td>jméno majitele účtu</td><td>string, optional</td></tr>
<tr><td>registration_no</td><td>IČ</td><td>string, optional</td></tr>
<tr><td>vat_no</td><td>DIČ</td><td>string, optional</td></tr>
<tr><td>vat_mode</td><td>Plátce DPH / Neplátce DPH / Identifikovaná osoba</td><td>string, values: vat_payer, non_vat_payer, identified_person</td></tr>
<tr><td>vat_price_mode</td><td>způsob zadávání cen do řádků</td><td>string, values: without_vat, with_vat</td></tr>

<tr><td>street</td><td>ulice</td><td>string</td></tr>
<tr><td>street2</td><td>ulice 2</td><td>string, optional</td></tr>
<tr><td>city</td><td>město</td><td>string</td></tr>
<tr><td>zip</td><td>PSČ</td><td>string</td></tr>
<tr><td>country</td><td>země (ISO kód)</td><td>string</td></tr>

<tr><td>bank_account</td><td>výchozí bankovní účet</td><td>string</td></tr>
<tr><td>iban</td><td>IBAN</td><td>string, optional</td></tr>
<tr><td>swift_bic</td><td>BIC (pro SWIFT platby)</td><td>string, optional</td></tr>

<tr><td>currency</td><td>měna</td><td>string</td></tr>
<tr><td>unit_name</td><td>výchozí jednotka</td><td>string, optional</td></tr>
<tr><td>vat_rate</td><td>výchozí daňová sazba</td><td>integer</td></tr>
<tr><td>displayed_note</td><td>text patičky</td><td>string, optional</td></tr>
<tr><td>invoice_note</td><td>text před položkami faktury</td><td>string, optional</td></tr>
<tr><td>due</td><td>počet dní před splatností</td><td>integer</td></tr>

<tr><td>custom_email_text</td><td>text emailu pro odeslání faktury</td><td>string</td></tr>
<tr><td>overdue_email_text</td><td>text upomínky</td><td>string</td></tr>

<tr><td>invoice_paypal</td><td>zapnutí PayPal plateb</td><td>boolean</td></tr>
<tr><td>invoice_gopay</td><td>zapnutí GoPay plateb</td><td>boolean</td></tr>

<tr><td>html_url</td><td>HTML adresa účtu</td><td>string</td></tr>
<tr><td>url</td><td>API adresa účtu</td><td>string</td></tr>
<tr><td>updated_at</td><td>datum poslední úpravy účtu</td><td>datetime</td></tr>
<tr><td>created_at</td><td>datum vytvoření účtu</td><td>datetime</td></tr>
</table>

### Atribut vat\_price\_mode

`vat_price_mode` se používá pouze pro plátce DPH a identifikované osoby u neplátců DPH je ignorováno.

<table>
  <tr>
    <th>Hodnota</th><th>Popis</th>
  </tr>
  <tr>
    <td>without_vat</td><td>cena zadaná do řádků faktur je bez DPH a DPH se z ní dopočte přes procentuální sazbu DPH</td>
  </tr>
  <tr>
    <td>with_vat</td><td>cena zadaná do řádků faktur je včetně DPH a DPH se z ní dopočte koeficientem</td>
  </tr>
</table>

## Account [/accounts/{slug}/account.json]

### Detail účtu [GET]

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers

        ```
        Content-Type: application/json
        ETag: "f1c9bc9473d2040a6038012ea0c865cd"
        Last-Modified: Fri, 22 Nov 2013 09:15:45 GMT
        ```

    + Body

        ```json
        {
            "subdomain": "testdph",
            "plan": "Firma",
            "plan_price": 480,
            "email": "applecorp@applecopr.cz",
            "invoice_email": "applecorp@applecorp.cz",
            "phone": "123456789",
            "web": "http://www.applecorp.com",
            "name": "Alexandr Hejsek",
            "full_name": "",
            "registration_no": "87654321",
            "vat_no": "CZ87654321",
            "vat_mode": "vat_payer",
            "vat_price_mode": "without_vat",
            "street": "Hopsinková 14",
            "street2": null,
            "city": "Praha",
            "zip": "10000",
            "country": "CZ",
            "bank_account": "1234/0100",
            "iban": "",
            "swift_bic": "",
            "currency": "CZK",
            "unit_name": "",
            "vat_rate": 21,
            "displayed_note": "",
            "invoice_note": "",
            "due": 14,
            "custom_email_text": "Hezký den,\r\n\r\nvystavil jsem pro Vás fakturu, najdete ji na\r\n#link#\r\n\r\nDíky!\r\n\r\nAlexandr Hejsek",
            "overdue_email_text": "Zdravím,\r\n\r\nmůj fakturační robot mě upozornil, že faktura č. #no# je po splatnosti.\r\nFakturu najdete na #link#\r\n\r\nZkuste se na to mrknout. Díky.\r\n\r\nAlexandr Hejsek",
            "invoice_paypal": false,
            "invoice_gopay": true,
            "html_url": "https://app.fakturoid.cz/applecorp/account",
            "url": "https://app.fakturoid.cz/api/v2/applecorp/testdph/account.json",
            "updated_at": "2013-11-22T10:15:45.058+01:00",
            "created_at": "2013-05-21T11:45:59.539+02:00"
        }
        ```

# Group Bank Accounts

## Bankovní účty

__Poznámka:__ Bankovní účty jsou pouze pro čtení, pro změny použijte prosím webové rozhraní.

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>
<tr><td>id</td><td>identifikátor bankovního účtu</td><td>integer</td></tr>
<tr><td>name</td><td>název účtu</td><td>string</td></tr>
<tr><td>number</td><td>číslo účtu</td><td>string</td></tr>
<tr><td>currency</td><td>měna</td><td>string</td></tr>
<tr><td>iban</td><td>IBAN</td><td>string, optional</td></tr>
<tr><td>swift_bic</td><td>BIC (pro SWIFT platby)</td><td>string, optional</td></tr>
<tr><td>pairing</td><td>párovnání plateb</td><td>boolean</td></tr>
<tr><td>payment_adjustment</td><td>haléřové vyrovnání při párování plateb</td><td>boolean</td></tr>
</table>

## Bank accounts Collection [/accounts/{slug}/bank_accounts.json]

### Seznam bankovních účtů [GET]

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers

        ```
        Content-Type: application/json
        ETag: "f1c9bc9473d2040a6038012ea0c865cd"
        Last-Modified: Fri, 22 Nov 2013 09:15:45 GMT
        ```

    + Body
    
        ```
        [
            {
                "id": 7,
                "name": "Účet",
                "currency": "CZK",
                "number": "1234/0100",
                "iban": "",
                "swift_bic": "",
                "pairing": true,
                "payment_adjustment": false
            }, {
                "id": 10,
                "name": "Účet u FIO",
                "currency": "CZK",
                "number": "1234567/2010",
                "iban": "CZ6508000000192000145399",
                "swift_bic": "KOMBCZPP",
                "pairing": false,
                "payment_adjustment": false
            }
        ]
        ```

# Group Subjects

## Kontakty

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>

<tr><td>id</td><td>identifikátor kontaktu</td><td>integer, readonly</td></tr>
<tr><td>custom_id</td><td>identifikátor kontaktu ve vaší aplikaci</td><td>string, optional</td></tr>

<tr><td>type</td><td>typ kontaktu - customer/supplier/both</td><td>string, optional, default: customer</td></tr>

<tr><td>name</td><td>jméno firmy kontaktu</td><td>string, required</td></tr>
<tr><td>street</td><td>ulice</td><td>string, optional</td></tr>
<tr><td>street2</td><td>ulice 2</td><td>string, optional</td></tr>
<tr><td>city</td><td>město</td><td>string, optional</td></tr>
<tr><td>zip</td><td>poštovní směrovací číslo</td><td>string, optional</td></tr>
<tr><td>country</td><td>země (ISO Kód)</td><td>string, optional, default: same as account</td></tr>

<tr><td>registration_no</td><td>IČ podnikatele</td><td>string, optional</td></tr>
<tr><td>vat_no</td><td>DIČ (plátci DPH)</td><td>string, optional</td></tr>

<tr><td>bank_account</td><td>číslo bankovního účtu</td><td>string, optional</td></tr>
<tr><td>iban</td><td>IBAN</td><td>string, optional</td></tr>
<tr><td>variable_symbol</td><td>variabilní symbol</td><td>string, optional</td></tr>
<tr><td>enabled_reminders</td><td>příznak zda zasílat připomínky</td><td>boolean, optional, default: true</td></tr>

<tr><td>full_name</td><td>jméno kontaktní osoby</td><td>string, optional</td></tr>
<tr><td>mail</td><td>email pro posílání faktur kontaktu</td><td>string, optional</td></tr>
<tr><td>mail_copy</td><td>email pro posílání copie faktur kontaktu</td><td>string, optional</td></tr>
<tr><td>phone</td><td>telefon</td><td>string, optional</td></tr>
<tr><td>web</td><td>web</td><td>string, optional</td></tr>

<tr><td>avatar_url</td><td>Adresa obrázku kontaktu</td><td>string, readonly</td></tr>
<tr><td>html_url</td><td>HTML adresa kontaktu</td><td>string, readonly</td></tr>
<tr><td>url</td><td>API adresa kontaktu</td><td>string, readonly</td></tr>
<tr><td>updated_at</td><td>datum poslední aktualizace kontaktu</td><td>datetime, readonly</td></tr>
</table>

## Subject [/accounts/{slug}/subjects/{id}.json]

+ Model (application/json)
    ```json
    {
        "id": 28,
        "custom_id": null,
        "type": "both",
        "name": "MICROSOFT s.r.o.",
        "street": "Vyskočilova 1461/2a",
        "street2": null,
        "city": "Praha",
        "zip": "14000",
        "country": "Česká republika",
        "registration_no": "47123737",
        "vat_no": "CZ47123737",
        "bank_account": "",
        "iban": "",
        "variable_symbol": "1234567890",
        "full_name": "",
        "email": "",
        "email_copy": "",
        "phone": "",
        "web": "",
        "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
        "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
        "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
        "updated_at": "2012-06-02T09:34:47+02:00"
    }
    ```

+ Parameters
    + id (integer, `1`) ... id kontaktu
    + slug (string, `applecorp`) ... Název účtu

### Detail kontaktu [GET]

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
        
+ Response 200

    + Headers
        
        ```
        Content-Type: application/json
        ETag: "ae9a9ee2419f569a62cef584d501e7dc"
        Last-Modified: Tue, 21 May 2013 09:46:01 GMT
        ```
    
    + Body
    
        ```json
        {
            "id": 28,
            "custom_id": null,
            "type": "both",
            "name": "MICROSOFT s.r.o.",
            "street": "Vyskočilova 1461/2a",
            "street2": null,
            "city": "Praha",
            "zip": "14000",
            "country": "Česká republika",
            "registration_no": "47123737",
            "vat_no": "CZ47123737",
            "bank_account": "",
            "iban": "",
            "variable_symbol": "1234567890",
            "full_name": "",
            "email": "",
            "email_copy": "",
            "phone": "",
            "web": "",
            "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
            "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
            "updated_at": "2012-06-02T09:34:47+02:00"
        }
        ```

### Úprava kontaktu [PATCH]
Odpověď serveru na tento příkaz je `200 OK` a JSON s upraveným kontaktem. 

Při odeslání nevalidních dat dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request Proper

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body    
        
        ```json
        { "city": "Praha" }    
        ```

+ Response 200 (application/json)

    ```json
    {
        "id": 28,
        "custom_id": null,
        "type": "both",
        "name": "MICROSOFT s.r.o.",
        "street": "Vyskočilova 1461/2a",
        "street2": null,
        "city": "Praha",
        "zip": "14000",
        "country": "Česká republika",
        "registration_no": "47123737",
        "vat_no": "CZ47123737",
        "bank_account": "",
        "iban": "",
        "variable_symbol": "1234567890",
        "full_name": "",
        "email": "",
        "email_copy": "",
        "phone": "",
        "web": "",
        "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
        "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
        "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
        "updated_at": "2012-06-02T09:34:47+02:00"
    }
    ```

+ Request Faulty

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body    
    
        ```json
        { "email": "bad@email" }    
        ```

+ Response 422 (application/json)

    ```json
    {
        "errors": {
            "email": [
                "Prosím zkontrolujte email."
            ]
        }
    }
    ```

### Smazání kontaktu [DELETE]
Pokud jsou ke kontaktu přiřazeny faktury, nemůže být smazán a odpověď serveru bude `403 Forbidden`.

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 204 (application/json)

+ Response 403 (application/json)

## Subjects Collection [/accounts/{slug}/subjects.json]

+ Model (application/json)
    
    ```json
    [
        {
            "id": 6,
            "custom_id": null,
            "type": "customer",
            "name": "Apple Czech s.r.o.",
            "street": "Klimentská 1216/46",
            "street2": null,
            "city": "Praha",
            "zip": "11000",
            "country": "CZ",
            "registration_no": "28897501",
            "vat_no": "CZ28897501",
            "bank_account": null,
            "iban": null,
            "variable_symbol": "",
            "full_name": null,
            "email": "",
            "email_copy": null,
            "phone": null,
            "web": "https://www.apple.cz",
            "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
            "html_url": "https://app.fakturoid.cz/applecorp/subjects/6",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/6.json",
            "updated_at": "2012-05-13T12:11:38+02:00"
        },
        {
            "id": 28,
            "custom_id": null,
            "name": "MICROSOFT s.r.o.",
            "type": "supplier",
            "street": "Vyskočilova 1461/2a",
            "street2": null,
            "city": "Praha",
            "zip": "14000",
            "country": "Česká republika",
            "registration_no": "47123737",
            "vat_no": "CZ47123737",
            "bank_account": "",
            "iban": "",
            "variable_symbol": "1234567890",
            "full_name": "",
            "email": "",
            "email_copy": "",
            "phone": "",
            "web": "",
            "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
            "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
            "updated_at": "2012-06-02T09:34:47+02:00"
        }
    ]   
    ```

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

### Nový kontakt [POST]
Jedinnou povinnou položkou je jméno kontaktu, pokud nebude nastaven stát, bude nastaven z účtu.

Po úspěšném vytvoření kontaktu dostanete ze serveru odpověď `201 Created` hlavička `location` bude nastavena na adresu nově vytvořeného kontaktu. Spolu s tím bude navrácen právě vytvořený kontakt.

Při dosažení maximálního počtu kontaktů pro váš tarif dostanete při pokusu o vytvoření dalšího odpověď ze serveru `403 Forbidden`.

Pokud budou odeslána nevalidní data, dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request Proper

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

    + Body
    
        ```json
        {
            "custom_id": null,
            "name": "MICROSOFT s.r.o.",
            "street": "Vyskočilova 1461/2a",
            "street2": null,
            "city": "Praha",
            "zip": "14000",
            "country": "Česká republika",
            "registration_no": "47123737",
            "vat_no": "CZ47123737",
            "bank_account": "",
            "iban": "",
            "variable_symbol": "1234567890",
            "full_name": "",
            "email": "",
            "email_copy": "",
            "phone": "",
            "web": ""
        }
        ```

+ Response 201
    
    + Headers
    
        ```
        Content-Type: application/json
        Location: https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json
        ```

    + Body
        
        ```json
        {
            "id": 28,
            "custom_id": null,
            "type": "customer",
            "name": "MICROSOFT s.r.o.",
            "street": "Vyskočilova 1461/2a",
            "street2": null,
            "city": "Praha",
            "zip": "14000",
            "country": "Česká republika",
            "registration_no": "47123737",
            "vat_no": "CZ47123737",
            "bank_account": "",
            "iban": "",
            "variable_symbol": "1234567890",
            "full_name": "",
            "email": "",
            "email_copy": "",
            "phone": "",
            "web": "",
            "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
            "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
            "updated_at": "2012-06-02T09:34:47+02:00"
        }
        ```

+ Request Faulty

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
        
        ```json
        { "name": "" } 
        ```

+ Response 422 (application/json)

    + Body
    
        ```json
        {
            "errors": {
                "name": [
                    "je povinná položka"
                ]
            }
        }
        ```

+ Response 403 (application/json)

### Seznam všech kontaktů [GET]

Při zadání nesprávného formátu data a času v parametru `since` nebo `updated_since` server vrátí odpověď `400 Bad Request`.

+ Parameters
    
    + slug (string, `applecorp`) ... Název účtu
    + since (datetime, optional, `2012-05-20T15:00:00+01:00`) ... Všechny kontakty vytvořené po zadaném datu
    + updated_since (datetime, optional, `2012-05-20T15:00:00+01:00`) ... Všechny kontakty vytvořené nebo upravené po zadaném datu
    + page (integer, optional, `2`) ... Číslo stránky
    + custom_id (text, optional, `315`) ... Filtrovat podle vlastního ID

+ Request
    
    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```    

+ Response 200
    + Headers

        ```
        Content-Type: application/json
        ETag: "75a303df11533fd269fd9ffa56d7b858"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects.json?page=2>; rel="next"
        ```        

    + Body
        
        ```json
        [
            {
                "id": 6,
                "custom_id": null,
                "type": "customer",
                "name": "Apple Czech s.r.o.",
                "street": "Klimentská 1216/46",
                "street2": null,
                "city": "Praha",
                "zip": "11000",
                "country": "CZ",
                "registration_no": "28897501",
                "vat_no": "CZ28897501",
                "bank_account": null,
                "iban": null,
                "variable_symbol": "",
                "full_name": null,
                "email": "",
                "email_copy": null,
                "phone": null,
                "web": "https://www.apple.cz",
                "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
                "html_url": "https://app.fakturoid.cz/applecorp/subjects/6",
                "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/6.json",
                "updated_at": "2012-05-13T12:11:38+02:00"
            },
            {
                "id": 28,
                "custom_id": null,
                "type": "supplier",
                "name": "MICROSOFT s.r.o.",
                "street": "Vyskočilova 1461/2a",
                "street2": null,
                "city": "Praha",
                "zip": "14000",
                "country": "Česká republika",
                "registration_no": "47123737",
                "vat_no": "CZ47123737",
                "bank_account": "",
                "iban": "",
                "variable_symbol": "1234567890",
                "full_name": "",
                "email": "",
                "email_copy": "",
                "phone": "",
                "web": "",
                "avatar_url": "https://ssl.fakturoid.cz/images/company-contact.png",
                "html_url": "https://app.fakturoid.cz/applecorp/subjects/28",
                "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/28.json",
                "updated_at": "2012-06-02T09:34:47+02:00"
            }
        ]   
        ```

## Subjects Collection fulltext search [/accounts/{slug}/subjects/search.json{?query}]

### Fulltextové vyhledávání v kontaktech [GET]

Vyhledává se v následujících polích na fakturách: `name`, `full_name`,`email` ,`registration_no`, `country`.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + query (string, `Hledaný řetězec`) ... Hledaný řetězec

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
        
        ```
        Content-Type: application/json
        ETag: "46339b977ca99a3d8df1a1f8e354c66b"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/search.json?page=1&query=czech>; rel="first", <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/search.json?page=1&query=czech>; rel="prev", <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/search.json?page=3&query=czech>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/search.json?page=3&query=czech>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 6,
                "custom_id": null,
                "type": "supplier",
                "name": "Apple Czech s.r.o.",
                // other subject fields truncated ...
            },
            {
                "id": 28,
                "custom_id": null,
                "type": "customer",
                "name": "Google Czech s.r.o.",
                // other subject fields truncated ...
            }
        ]   
        ```


# Group Invoices

## Faktury

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>

<tr><td>id</td><td>identifikátor faktury</td><td>integer, readonly</td></tr>

<tr><td>proforma</td><td>příznak proformy - true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>partial_proforma</td><td>přiznak zda je proforma na plnou částku - true/false</td><td>boolean, optional, default: false</td></tr>

<tr><td>number</td><td>číslo faktury (Př: 2011-0001, musí odpovídat formátu čísla v nastavení účtu)</td><td>string, optional, unique</td></tr>
<tr><td>variable_symbol</td><td>variabilní symbol (nepovinné - doplní se z čísla faktury)</td><td>string, optional, default: by invoice number</td></tr>

<tr><td>your_name</td><td>název vaší firmy</td><td>string, readonly</td></tr>
<tr><td>your_street</td><td>vaše ulice</td><td>string, readonly</td></tr>
<tr><td>your_street2</td><td>vaše ulice 2</td><td>string, readonly</td></tr>
<tr><td>your_city</td><td>vaše město</td><td>string, readonly</td></tr>
<tr><td>your_zip</td><td>vaše poštovní směrovací číslo</td><td>string, readonly</td></tr>
<tr><td>your_country</td><td>vaše země (ISO kód)</td><td>string, readonly</td></tr>
<tr><td>your_registration_no</td><td>vaše IČ</td><td>string, readonly</td></tr>
<tr><td>your_vat_no</td><td>vaše DIČ</td><td>string, readonly</td></tr>

<tr><td>client_name</td><td>název firmy kontaktu</td><td>string, readonly</td></tr>
<tr><td>client_street</td><td>ulice kontatku</td><td>string, readonly</td></tr>
<tr><td>client_street2</td><td>ulice 2 kontaktu</td><td>string, readonly</td></tr>
<tr><td>client_city</td><td>město kontaktu</td><td>string, readonly</td></tr>
<tr><td>client_zip</td><td>poštovní směrovací číslo kontaktu</td><td>string, readonly</td></tr>
<tr><td>client_country</td><td>země kontaktu (ISO kód)</td><td>string, readonly</td></tr>
<tr><td>client_registration_no</td><td>IČ kontaktu</td><td>string, readonly</td></tr>
<tr><td>client_vat_no</td><td>DIČ kontaktu</td><td>string, readonly</td></tr>

<tr><td>subject_id</td><td>ID kontaktu (povinné)</td><td>integer, required</td></tr>
<tr><td>generator_id</td><td>ID šablony ze které byla faktura vystavena</td><td>integer, optional</td></tr>
<tr><td>related_id</td><td>ID proformy/faktury (u faktur vystavených ze zálohových faktur)</td><td>integer, optional</td></tr>

<tr><td>correction</td><td>true - Opravný daňový doklad, false - faktura/proforma</td><td>boolean, optional, default: false</td></tr>
<tr><td>correction_id</td><td>ID opravovaného dokladu, zdává se pouze pokud je correction=true, na opravovaný doklad se doplní automaticky doplní ID opravného daňového dokladu</td><td>integer, optional</td></tr>

<tr><td>token</td><td>token pro public akci</td><td>string, readonly</td></tr>

<tr><td>status</td><td>stav faktury - open/sent/overdue/paid/cancelled</td><td>string, readonly</td></tr>

<tr><td>order_number</td><td>číslo objednávky (nepovinné)</td><td>string, optional</td></tr>

<tr><td>issued_on</td><td>datum vystavení (zobrazeno na faktuře)</td><td>date, optional, default: today</td></tr>
<tr><td>taxable_fulfillment_due</td><td>datum zdanitelného plnění</td><td>date, optional, default: today</td></tr>
<tr><td>due</td><td>počet dní, než bude po splatnosti (nepovinné - doplní se z účtu)</td><td>integer, optional, default: by account settings</td></tr>
<tr><td>due_on</td><td>datum splatnosti (doplní se podle due)</td><td>date, readonly</td></tr>
<tr><td>sent_at</td><td>datum a čas odeslání faktury</td><td>datetime, readonly</td></tr>
<tr><td>paid_at</td><td>datum a čas zaplacení faktury</td><td>datetime, readonly</td></tr>
<tr><td>reminder_sent_at</td><td>datum a čas odeslání upomínky</td><td>datetime, readonly</td></tr>
<tr><td>accepted_at</td><td>datum a čas odsouhlasení faktury klientem</td><td>datetime, readonly</td></tr>
<tr><td>canceled_at</td><td>datum stornování faktury (pouze pro neplátce DPH)</td><td>datetime, readonly</td></tr>

<tr><td>note</td><td>text před položkami faktury (nepovinné - doplní se z účtu)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>footer_note</td><td>patička faktury (nepovinné - doplní se z účtu)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>private_note</td><td>soukromá poznámka (nepovinné)</td><td>string, optional</td></tr>

<tr><td>tags</td><td>seznam tagů faktury</td><td>array, optional</td></tr>

<tr><td>bank_account_id</td><td>ID bankovního účtu (nepovinné - použije se výchozí bankovní účet)</td><td>integer, only on create action, optional</td></tr>
<tr><td>bank_account</td><td>číslo bankovního účtu (nepovinné - použije se výchozí bankovní účet)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>iban</td><td>IBAN (nepovinné - doplní se z účtu)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>swift_bic</td><td>BIC (nepovinné - doplní se z účtu)</td><td>string, optional, default: by account settings</td></tr>

<tr><td>payment_method</td><td>bank (bankovní převod) / cash (hotově) / cod (dobírka) / paypal (PayPal)</td><td>string, optional, defautl: bank</td></tr>
<tr><td>currency</td><td>kód měny (nepovinné - doplní se z účtu, 3 znaky)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>exchange_rate</td><td>kurz (povinný pokud je měna faktury jiná než měna účtu)</td><td>string, optional</td></tr>
<tr><td>paypal</td><td>tlačítko pro platbu PayPalem - true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>gopay</td><td>tlačítko pro platbu přes GoPay - true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>language</td><td>jazyk faktury (cz, sk, en, de, fr)</td><td>string, optional, default: cz</td></tr>
<tr><td>transferred_tax_liability</td><td>přenesená daňová povinnost true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>supply_code</td><td>kód plnění pro souhrnná hlášení (pouze pro zahraniční faktury do EU)</td><td>integer, optional</td></tr>
<tr><td>eu_electronic_service</td><td>příznak, pokud je faktura v režimu MOSS</td><td>boolean, optional, default: false</td></tr>
<tr><td>vat_price_mode</td><td>způsob zadávání cen do řádků</td><td>string, values: null, without_vat, with_vat, default: by account settings</td></tr>

<tr><td>round_total</td><td>zaokrouhlit cenu s DPH (při vystavení)</td><td>boolean, optional, default: false</td></tr>
<tr><td>subtotal</td><td>součet (bez DPH)</td><td>decimal, readonly</td></tr>
<tr><td>native_subtotal</td><td>součet v měně účtu</td><td>decimal, readonly</td></tr>
<tr><td>total</td><td>celkový součet (včetně DPH)</td><td>decimal, readonly</td></tr>
<tr><td>native_total</td><td>součet v měně účtu (včetně DPH)</td><td>decimal, readonly</td></tr>
<tr><td>remaining_amount</td><td>částka k zaplacení (včetně DPH)</td><td>decimal, readonly</td></tr>
<tr><td>remaining_native_amount</td><td>částka k zaplacení v měně účtu (včetně DPH)</td><td>decimal, readonly</td></tr>

<tr><td>html_url</td><td>HTML adresa faktury</td><td>string, readonly</td></tr>
<tr><td>public_html_url</td><td>veřejná HTML adresa faktury</td><td>string, readonly</td></tr>
<tr><td>url</td><td>API adresa faktury</td><td>string, readonly</td></tr>
<tr><td>pdf_url</td><td>API adresa pro stažení faktury v PDF</td><td>string, readonly</td></tr>
<tr><td>subject_url</td><td>API adresa kontaktu</td><td>string, readonly</td></tr>
<tr><td>updated_at</td><td>datum poslední aktualizace faktury</td><td>datetime, readonly</td></tr>
</table>

### Atribut `vat_price_mode`

Nastavení `vat_price_mode` je ignorováno v následujícíh případech
- účet je neplátce DPH
- je zapnuta přenesená daňová povinnost

<table>
  <tr>
    <th>Hodnota</th><th>Popis</th>
  </tr>
  <tr>
    <td>null nebo chybí</td><td>hodnota se doplní automaticky z nastavení účtu</td>
  </tr>
  <tr>
    <td>without_vat</td><td>cena zadaná do řádků faktur je bez DPH a DPH se z ní dopočte přes sazbu DPH</td>
  </tr>
  <tr>
    <td>with_vat</td><td>cena zadaná do řádků faktur je včetně DPH a DPH se z ní dopočte koeficientem</td>
  </tr>
</table>

_Poznámka:_ `your_*` a `client_*` položky se nastaví automaticky zkopírováním z nastavení účtu a z kontaktu odběratele při vytvoření faktury.

Řádky faktur jsou popsány níže v <a href="#reference/lines">Lines</a>

## Invoice [/accounts/{slug}/invoices/{id}.json]

+ Model (application/json)

    ```json
    {
        "id": 9,
        "proforma": false,
        "number": "2012-0004",
        "variable_symbol": "20120004",
        "your_name": "Alexandr Hejsek",
        "your_street": "Hopsinkov\u00e1 14",
        "your_street2": null,
        "your_city": "Praha",
        "your_zip": "10000",
        "your_country": "CZ",
        "your_registration_no": "87654321",
        "your_vat_no": "CZ87654321",
        "client_name": "Microsoft a. s.",
        "client_street": "Trojanova 1216/46",
        "client_street2": null,
        "client_city": "Praha",
        "client_zip": "11000",
        "client_country": "CZ",
        "client_registration_no": "28444501",
        "client_vat_no": "CZ28444501",
        "subject_id": 4,
        "generator_id": 4,
        "related_id": null,
        "correction": false,
        "correction_id": null,
        "paypal": false,
        "gopay": false,
        "token": "udDTG8Q88M",
        "status": "paid",
        "order_number": null,
        "issued_on": "2011-10-13",
        "taxable_fulfillment_due": "2011-10-13",
        "due": 10,
        "due_on": "2011-10-23",
        "sent_at": null,
        "paid_at": "2011-10-20T12:11:37+02:00",
        "reminder_sent_at": null,
        "accepted_at": null,
        "cancelled_at": null,
        "note": null,
        "footer_note": null,
        "bank_account": "1234/1234",
        "iban": null,
        "swift_bic": null,
        "payment_method": "bank",
        "currency": "CZK",
        "exchange_rate": "1.0",
        "language": "cz",
        "transferred_tax_liability": false,
        "vat_price_mode": "without_vat",
        "subtotal": "40000.0",
        "total": "48400.0",
        "native_subtotal": "40000.0",
        "native_total": "48400.0",
        "lines": [
            {
                "id": 1234,
                "name": "PC",
                "quantity": "1.0",
                "unit_name": "",
                "unit_price": "20000.0",
                "vat_rate": 21,
                "unit_price_without_vat": "20000.0",
                "unit_price_with_vat": "24200.0"
            },
            {
                "id": 1235,
                "name": "Notebook",
                "quantity": "1.0",
                "unit_name": "",
                "unit_price": "20000.0",
                "vat_rate": 21,
                "unit_price_without_vat": "20000.0",
                "unit_price_with_vat": "24200.0"
            }
        ],
        "html_url": "https://app.fakturoid.cz/applecorp/invoices/9",
        "public_html_url": "https://app.fakturoid.cz/applecorp/p/udDTG8Q88M/2012-0004",
        "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/9.json",
        "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/4.json",
        "updated_at": "2012-05-13T12:11:37+02:00"
    }
    ```    

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + id (integer, `1234`) ... id faktury

### Detail faktury [GET]

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
    
        ```
        Content-Type: application/json
        ETag: "e0a63efa535618c9b2de56bbc53c7813"
        Last-Modified: Mon, 14 Oct 2013 10:28:46 GMT
        ```

    + Body

        ```json
        {
            "id": 9,
            "proforma": false,
            "number": "2012-0004",
            "variable_symbol": "20120004",
            "your_name": "Alexandr Hejsek",
            "your_street": "Hopsinkov\u00e1 14",
            "your_street2": null,
            "your_city": "Praha",
            "your_zip": "10000",
            "your_country": "CZ",
            "your_registration_no": "87654321",
            "your_vat_no": "CZ87654321",
            "client_name": "Microsoft a. s.",
            "client_street": "Trojanova 1216/46",
            "client_street2": null,
            "client_city": "Praha",
            "client_zip": "11000",
            "client_country": "CZ",
            "client_registration_no": "28444501",
            "client_vat_no": "CZ28444501",
            "subject_id": 4,
            "generator_id": 4,
            "related_id": null,
            "correction": "false",
            "correction_id": "false",
            "paypal": false,
            "gopay": false,
            "token": "udDTG8Q88M",
            "status": "paid",
            "order_number": null,
            "issued_on": "2011-10-13",
            "taxable_fulfillment_due": "2011-10-13",
            "due": 10,
            "due_on": "2011-10-23",
            "sent_at": null,
            "paid_at": "2011-10-20T12:11:37+02:00",
            "reminder_sent_at": null,
            "accepted_at": null,
            "cancelled_at": null,
            "note": null,
            "footer_note": null,
            "private_note": null,
            "tags": ["Vývoj", "PPC", "Ostatní služby"],
            "bank_account": "1234/1234",
            "iban": null,
            "swift_bic": null,
            "payment_method": "bank",
            "currency": "CZK",
            "exchange_rate": "1.0",
            "language": "cz",
            "transferred_tax_liability": false,
            "vat_price_mode": "without_vat",
            "subtotal": "40000.0",
            "total": "48400.0",
            "native_subtotal": "40000.0",
            "native_total": "48400.0",
            "lines": [
                {
                    "id": 1234,
                    "name": "PC",
                    "quantity": "1.0",
                    "unit_name": "",
                    "unit_price": "20000.0",
                    "vat_rate": 21,
                    "unit_price_without_vat": "20000.0",
                    "unit_price_with_vat": "24200.0"
                },
                {
                    "id": 1235,
                    "name": "Notebook",
                    "quantity": "1.0",
                    "unit_name": "",
                    "unit_price": "20000.0",
                    "vat_rate": 21,
                    "unit_price_without_vat": "20000.0",
                    "unit_price_with_vat": "24200.0"
                }
            ],
            "html_url": "https://app.fakturoid.cz/applecorp/invoices/9",
            "public_html_url": "https://app.fakturoid.cz/applecorp/p/udDTG8Q88M/2012-0004",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/9.json",
            "pdf_url":"https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/9/download.pdf",
            "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/4.json",
            "updated_at": "2012-05-13T12:11:37+02:00"
        }
    ```   

### Úprava faktury [PATCH]
Odpověď serveru na tento příkaz je `200 OK` a JSON s upravenou fakturou. 

Při odeslání nevalidních dat dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request Proper

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
          "number": "2012-0004"
        }
        ```

+ Response 200

    [Invoice][]

+ Request Faulty

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
          "number": ""
        }
        ```

+ Response 422 (application/json)

    ```json
    {
        "errors": {
            "number": [
                "je povinná položka"
            ]
        }
    }
    ```

### Smazání faktury [DELETE]

Po smazání faktury server vrátní odpověď `204 No Content`, nejde-li fakturu smazat dostanete odpověď `422 Unprocessable Entity`.

Případy, kdy nelze fakturu smazat:

+ Zálohová faktura, k níž je vystavena faktura.
+ Faktura, ke které je vystaven opravný daňový doklad.

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 204

+ Response 422 (application/json)

## Invoice PDF [/accounts/{slug}/invoices/{id}/download.pdf]

### Stažení faktury v PDF [GET]

Tato akce umožňuje stahnout fakturu ve formátu PDF. Pokud je PDF připraveno ke stažení, akce vrátí odpověď `200 OK` a fakturu.
Pokud PDF připraveno není, bude vrácena odpověď `204 No content`. V takovém případě to zkuste znovu o 1 - 2 vteřiny později.

Po vystavení nové faktury nebo editaci stávající je potřeba přibližně 1 - 2 vteřiny počkat, než se vygeneruje nové PDF.

+ Request

    + Headers
    
        ```
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
        
        ```
        Content-Type: application/pdf
        ```

+ Response 204

## Invoice actions [/accounts/{slug}/invoices/{id}/fire.json{?event}]

### Akce nad fakturou [POST]

Seznam možných událostí:

<table>
    <tr><th>event</th><th>popis</th></tr>
    <tr><td>mark_as_sent</td><td>Označit jako odeslanou</td></tr>
    <tr><td>deliver</td><td>Doručit emailem</td></tr>
    <tr><td>pay</td><td>Označit jako zaplacenou (akceptuje volitelný parametr `paid_at`)</td></tr>
    <tr><td>pay_proforma</td><td>Zaplatit proformu a vystavit daňový doklad</td></tr>
    <tr><td>pay_partial_proforma</td><td>Zaplatit částečnou proformu</td></tr>
    <tr><td>remove_payment</td><td>Zrušit zaplacení</td></tr>
    <tr><td>deliver_reminder</td><td>Poslat upomínku</td></tr>
    <tr><td>cancel</td><td>Stornovat fakturu</td></tr>
    <tr><td>undo_cancel</td><td>Zrušit stornování</td></tr>
</table>

Po úspěšném vykonání události server vrátí odpověď `200 OK`. Pokud nebude možné událost vykonat, server vrátí odpověď `422 Unprocessable Entity`.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + id (integer, `1234`) ... id faktury
    + event (string, `pay`) ... Událost
        + `mark_as_sent`
        + `deliver`
        + `pay`
        + `pay_proforma`
        + `pay_partial_proforma`
        + `remove_payment`
        + `deliver_reminder`

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200 (application/json)

+ Response 422 (application/json)

## Invoices Collection [/accounts/{slug}/invoices.json]

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

### Nová faktura [POST]

Po úspěšném vytvoření faktury dostanete ze serveru odpověď `201 Created`, hlavička `location` bude nastavena na adresu nově vytvořené faktury. Spolu s tím bude navrácena právě vytvořená faktura.

Pokud budou odeslána nevalidní data, dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
            "subject_id": "28",
            "number": "2012-0001",
            "currency": "CZK",
            "payment_method": "bank",
            "due": 10,
            "issued_on": "2012-03-30",
            "taxable_fulfillment_due": "2012-03-30",
            "bank_account_id": 7,
            "lines": [
                {
                    "name": "Hard work",
                    "quantity": "1.0",
                    "unit_name": "h",
                    "unit_price": "40000",
                    "vat_rate": "21"
                }
            ]
        }
        ```

+ Response 201
    
    + Headers
    
        ```
        Content-Type: application/json
        Location: https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/98.json
        ```
    
    + Body
    
        ```json
        {
            "id": 98,
            "proforma": false,
            "number": "2012-0001",
            // other invoice fields truncated ...
        }
        ```

### Seznam Faktur [GET]

Seznam možných parametrů je uveden v tabulce. Jediným povinným je `slug`, který je součástí URL adresy. Ostatní parametry jsou nepovinné a přijdou na konec adresy např `?page=4`.
Parametry je možné libovolně kombinovat.

#### Možné stavy faktur

<table>
  <tr><th>Status</th><th>Popis</th></tr>
  <tr><td>open</td><td>Faktura není zaplacena, odeslána ani po splatnosti.</td></tr>
  <tr><td>sent</td><td>Faktura byla odeslána a není po splatnosti.</td></tr>
  <tr><td>overdue</td><td>Faktura je po splatnosti.</td></tr>
  <tr><td>paid</td><td>Faktura je zaplacena.</td></tr>
  <tr><td>cancelled</td><td>Faktura je stornována. (pouze neplátci DPH)</td></tr>
</table>

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené nebo upravené po zadaném datu
    + number (optional, string, `20120005`) ... Budou vráceny faktury s daným číslem
    + status (optional, string, `paid`) ... Budou vráceny faktury v zadaném stavu.
    + subject_id (optional, integer, `5`) ... Faktury podle kontatku
    
+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200
    + Headers
        
        ```
        Content-Type: application/json
        ETag: "e50c359d3d1a49c705949037e8b188ef"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices.json?page=2>; rel="next"
        ```
    + Body
    
        ```json
        [
            {
                "id": 9,
                "proforma": false,
                "number": "2012-0004",
                // other invoice fields truncated ...
            },
            {
                "id": 10,
                "proforma": false,
                "number": "2012-0005",
                // other invoice fields truncated ...  
            }
        ]
        ```

+ Response 400 (application/json)


## Invoices Collection without proformas [/accounts/{slug}/invoices/regular.json]

### Seznam Faktur bez zálohových [GET]

Parametry a jejich použití je stejné jako u seznamu faktur výše.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené nebo upravené po zadaném datu
    + number (optional, string, `20120005`) ... Budou vráceny faktury s daným číslem
    + status (optional, string, `paid`) ... Budou vráceny faktury v zadaném stavu.
    + subject_id (optional, integer, `5`) ... Šablony podle kontatku

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200
    + Headers
        
        ```
        Content-Type: application/json
        ETag: "e50c359d3d1a49c705949037e8b188ef"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/regular.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/regular.json?page=2>; rel="next"
        ```
    + Body
    
        ```json
        [
            {
                "id": 9,
                "proforma": false,
                "number": "2012-0004",
                // other invoice fields truncated ...
            },
            {
                "id": 10,
                "proforma": false,
                "number": "2012-0005",
                // other invoice fields truncated ...  
            }
        ]
        ```

+ Response 400 (application/json)

## Invoices Collection proformas only [/accounts/{slug}/invoices/proforma.json]


### Seznam Zálohových Faktur [GET]

Parametry a jejich použití je stejné jako u seznamu faktur výše.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Faktury vytvořené nebo upravené po zadaném datu
    + number (optional, string, `20120005`) ... Budou vráceny faktury s daným číslem
    + status (optional, string, `paid`) ... Budou vráceny faktury v zadaném stavu.
    + subject_id (optional, integer, `5`) ... Šablony podle kontatku

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200
    + Headers
        
        ```
        Content-Type: application/json
        ETag: "e5a8e55663b9dd5fa070cfee5429aeec"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorpd/invoices/proforma.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/proforma.json?page=2>; rel="next"
        ```
    + Body
    
        ```json
        [
            {
                "id": 11,
                "proforma": true,
                "number": "1-2012-0004",
                // other invoice fields truncated ...
            },
            {
                "id": 12,
                "proforma": true,
                "number": "1-2012-0005",
                // other invoice fields truncated ...  
            }
        ]
        ```

+ Response 400 (application/json)

## Invoices Collection fulltext search [/accounts/{slug}/invoices/search.json{?query}]

### Fulltextové vyhledávání ve fakturách [GET]

Vyhledává se v následujících polích na fakturách: `number`, `variable_symbol`, `client_name`, `note`, `private_note`,
`footer_note`, `lines`, `tags`.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + query (string, `Hledaný řetězec`) ... Hledaný řetězec
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
        
        ```
        Content-Type: application/json
        ETag: "10b8f52d87e47e20ed63b3b74a78410d"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/search.json?page=1&query=data>; rel="first", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/search.json?page=1&query=data>; rel="prev", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/search.json?page=3&query=data>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/invoices/search.json?page=3&query=data>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 11,
                "proforma": true,
                "number": "1-2012-0004",
                // other invoice fields truncated ...
            },
            {
                "id": 12,
                "proforma": true,
                "number": "1-2012-0005",
                // other invoice fields truncated ...  
            }
        ]
        ```
        

# Group Lines

## Řádky faktur

<table>
    <tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>
    <tr><td>id</td><td>Identifikátor řádku</td><td>integer, readonly</td></tr>
    <tr><td>name</td><td>Popis řádku faktury</td><td>string, required</td></tr>
    <tr><td>quantity</td><td>Množství</td><td>decimal, required</td></tr>
    <tr><td>unit_name</td><td>Množstevní jednotka</td><td>string, optional</td></tr>
    <tr><td>unit_price</td><td>Cena za jednotuku</td><td>decimal, required</td></tr>
    <tr><td>vat_rate</td><td>Sazba DPH (pro neplátce DPH 0)</td><td>integer, required</td></tr>
    <tr><td>unit_price_without_vat</td><td>Cena za jednotuku bez DPH</td><td>decimal, readonly</td></tr>
    <tr><td>unit_price_with_vat</td><td>Cena za jednotuku včetně DPH</td><td>decimal, readonly</td></tr>
</table>

```json
{
  "id": 1234,
  "name": "PC",
  "quantity": "1.0",
  "unit_name": "",
  "unit_price": "20000.0",
  "vat_rate": 21,
  "unit_price_without_vat": "20000.0",
  "unit_price_with_vat": "242000.0"
}
```

Při editaci faktury je důležité posílat s řádky i jejich `id`, bez něj bude řádek znovu přidán.

Atributy `unit_price_without_vat` a `unit_price_with_vat` jsou pouze pro čtení a nastavují se na základě
zadané částky v `unit_price`, sazby dph `vat_rate` a atributu `vat_price_mode` na faktuře, šabloně nebo nákladu,
ke kterým řádek náleží.

Atributy `unit_price_without_vat` a `unit_price_with_vat` mají stejnou hodnotu v případech:

- sazba DPH je nastavena na 0
- je zapnuta přenesená daňová povinnost na faktuře nebo šabloně, ke které řádek náleží (je-li na nákladu zapnutá přenesaná daňová povinnost, nastavení `vat_price_mode` je ignorováno)

### Příklady

#### Částka v unit_price je zadána bez DPH

Request:

```json
{
  ...
  "vat_price_mode": "without_vat",
  ...
  "lines": [
    {
      ...
      "unit_price": "1000.0",
      "vat_rate": "21"
    }
  ]
}
```

Response:

```json
{
  ...
  "vat_price_mode": "without_vat",
  ...
  "lines": [
    {
      ...
      "unit_price": "1000.0",
      "vat_rate": "21",
      "unit_price_without_vat": "1000.0",
      "unit_price_with_vat": "1210.0"
    }
  ]
}
```

#### Částka v unit_price je zadána včetně DPH

Request:

```json
{
  ...
  "vat_price_mode": "with_vat",
  ...
  "lines": [
    {
      ...
      "unit_price": "1000.0",
      "vat_rate": "21"
    }
  ]
}
```

Response:

```json
{
  ...
  "vat_price_mode": "with_vat",
  ...
  "lines": [
    {
      ...
      "unit_price": "826.4",
      "vat_rate": "21",
      "unit_price_without_vat": "826.4",
      "unit_price_with_vat": "1000.0"
    }
  ]
}
```

## Smazání řádku

Pro smazání řádku při editaci faktury je potřeba přidat atribut `_destroy: true`, řádek pak bude 
vypadat náseldovně

```json
{
  "id": 1234,
  "name": "PC",
  "quantity": "1.0",
  "unit_name": "",
  "unit_price": "20000.0",
  "vat_rate": 21,
  "_destroy": true
}
```

# Group Expenses

## Náklady

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>

<tr><td>id</td><td>identifikátor nákladu</td><td>integer, readonly</td></tr>

<tr><td>number</td><td>číslo nákladu (Př: N20150101, musí odpovídat formátu čísla v nastavení účtu, doplní se automaticky)</td><td>string, optional, unique, default: next in the row</td></tr>
<tr><td>variable_symbol</td><td>variabilní symbol (nepovinné)</td><td>string, optional</td></tr>

<tr><td>supplier_name</td><td>název firmy kontaktu</td><td>string, readonly</td></tr>
<tr><td>supplier_street</td><td>ulice kontatku</td><td>string, readonly</td></tr>
<tr><td>supplier_city</td><td>město kontaktu</td><td>string, readonly</td></tr>
<tr><td>supplier_zip</td><td>poštovní směrovací číslo kontaktu</td><td>string, readonly</td></tr>
<tr><td>supplier_country</td><td>země kontaktu (ISO kód)</td><td>string, readonly</td></tr>
<tr><td>supplier_registration_no</td><td>IČ kontaktu</td><td>string, readonly</td></tr>
<tr><td>supplier_vat_no</td><td>DIČ kontaktu</td><td>string, readonly</td></tr>

<tr><td>subject_id</td><td>ID kontaktu (povinné)</td><td>integer, required</td></tr>

<tr><td>status</td><td>stav nákladu - open/overdue/paid</td><td>string, readonly</td></tr>
<tr><td>document_type</td><td>typ dokumentu - bill/invoice/other</td><td>string, optional, default: invoice</td></tr>

<tr><td>issued_on</td><td>datum vystavení</td><td>date, optional, default: today</td></tr>
<tr><td>taxable_fulfillment_due</td><td>datum zdanitelného plnění</td><td>date, optional, default: today</td></tr>
<tr><td>due_on</td><td>datum splatnosti</td><td>date, required</td></tr>
<tr><td>paid_on</td><td>datum zaplacení nákladu</td><td>datetime, readonly</td></tr>

<tr><td>description</td><td>popis (nepovinné)</td><td>string, optional</td></tr>
<tr><td>private_note</td><td>soukromá poznámka (nepovinné)</td><td>string, optional</td></tr>

<tr><td>tags</td><td>seznam tagů nákladu</td><td>array, optional</td></tr>

<tr><td>bank_account</td><td>číslo bankovního účtu (nepovinné - použije se bankovní účet z kontaktu)</td><td>string, optional, default: by subject</td></tr>
<tr><td>iban</td><td>IBAN (nepovinné - doplní se z kontaktu)</td><td>string, optional, default: by subject</td></tr>
<tr><td>swift_bic</td><td>BIC (nepovinné - doplní se z kontaktu)</td><td>string, optional, default: by subject</td></tr>

<tr><td>payment_method</td><td>bank (bankovní převod) / cash (hotově) / cod (dobírka)</td><td>string, optional, defautl: bank</td></tr>
<tr><td>currency</td><td>kód měny (nepovinné - doplní se z účtu, 3 znaky)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>exchange_rate</td><td>kurz (povinný pokud je měna faktury jiná než měna účtu)</td><td>string, optional</td></tr>
<tr><td>transferred_tax_liability</td><td>přenesená daňová povinnost true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>vat_price_mode</td><td>způsob zadávání cen do řádků</td><td>string, values: without_vat, with_vat, default: without_vat</td></tr>
<tr><td>supply_code</td><td>kód plnění pro souhrnná hlášení (pouze pro zahraniční faktury do EU)</td><td>integer, optional</td></tr>

<tr><td>round_total</td><td>zaokrouhlit cenu s DPH (při vystavení)</td><td>boolean, optional, default: false</td></tr>
<tr><td>subtotal</td><td>součet (bez DPH)</td><td>decimal, readonly</td></tr>
<tr><td>total</td><td>celkový součet (včetně DPH)</td><td>decimal, readonly</td></tr>
<tr><td>native_subtotal</td><td>součet v měně účtu</td><td>decimal, readonly</td></tr>
<tr><td>native_total</td><td>součet v měně účtu (včetně DPH)</td><td>decimal, readonly</td></tr>

<tr><td>html_url</td><td>HTML adresa nákladu</td><td>string, readonly</td></tr>
<tr><td>url</td><td>API adresa nákladu</td><td>string, readonly</td></tr>
<tr><td>subject_url</td><td>API adresa kontaktu</td><td>string, readonly</td></tr>
<tr><td>created_at</td><td>datum vytvoření nákladu</td><td>datetime, readonly</td></tr>
<tr><td>updated_at</td><td>datum poslední aktualizace nákladu</td><td>datetime, readonly</td></tr>
</table>

_Poznámka:_ `supplier_*` položky se nastaví automaticky zkopírováním z kontaktu dodavatele při vytvoření nákladu.

### Atribut vat\_price\_mode

<table>
  <tr>
    <th>Hodnota</th><th>Popis</th>
  </tr>
  <tr>
    <td>without_vat</td><td>cena zadaná do řádků faktur je bez DPH a DPH se z ní dopočte přes procentuální sazbu DPH</td>
  </tr>
  <tr>
    <td>with_vat</td><td>cena zadaná do řádků faktur je včetně DPH a DPH se z ní dopočte koeficientem</td>
  </tr>
</table>

Řádky nákladů jsou popsány výše v <a href="#reference/lines">Lines</a>

## Expense [/accounts/{slug}/expenses/{id}.json]

+ Model (application/json)

    ```json
    {
        "id": 100,
        "number": "N20130704",
        "variable_symbol": null,
        "supplier_name": "Google Czech Republic, s.r.o.",
        "supplier_street": "Klimentská 1216/46",
        "supplier_city": "Praha",
        "supplier_zip": "11000",
        "supplier_country": "CZ",
        "supplier_registration_no": "27604977",
        "supplier_vat_no": "CZ27604977",
        "subject_id": 19,
        "status": "paid",
        "document_type": "invoice",
        "issued_on": "2013-07-14",
        "taxable_fulfillment_due": "2013-07-14",
        "due_on": "2013-07-28",
        "paid_on": "2013-08-03",
        "description": null,
        "private_note": null,
        "bank_account": null,
        "iban": null,
        "swift_bic": null,
        "payment_method": "bank",
        "currency": "CZK",
        "exchange_rate": "1.0",
        "transferred_tax_liability": false,
        "vat_price_mode": "without_vat",
        "supply_code": null,
        "subtotal": "58800.0",
        "total": "71148.0",
        "native_subtotal": "58800.0",
        "native_total": "71148.0",
        "paid_amount": "71148.0",
        "lines": [
            {
                "id": 262,
                "quantity": "5.0",
                "unit_name": "myš",
                "name": "Magic mouse",
                "unit_price": "2000.0",
                "vat_rate":21,
                "unit_price_without_vat": "2000.0",
                "unit_price_with_vat": "2420.0"
            }, {
                "id": 263,
                "quantity": "4.0",
                "unit_name": "lidi",
                "name": "Školení personálu",
                "unit_price": "7000.0",
                "vat_rate": 21,
                "unit_price_without_vat": "7000.0",
                "unit_price_with_vat": "8470.0"
            }, {
                "id": 264,
                "quantity": "1.0",
                "unit_name": "",
                "name": "Školení",
                "unit_price": "20000.0",
                "vat_rate": 21,
                "unit_price_without_vat": "20000.0",
                "unit_price_with_vat": "24200.0"
            }, {
                "id": 265,
                "quantity": "1.0",
                "unit_name": null,
                "name": "Kalkulačka",
                "unit_price": "800.0",
                "vat_rate": 21,
                "unit_price_without_vat": "800.0",
                "unit_price_with_vat": "968.0"
            }
        ],
        "html_url": "https://app.fakturoid.cz/applecorp/expenses/100",
        "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/100.json",
        "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/19.json",
        "created_at": "2015-01-06T09:58:51.111+01:00",
        "updated_at": "2015-01-06T09:58:51.111+01:00"
    }
    ```    

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + id (integer, `1234`) ... id nákladu

### Detail nákladu [GET]

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
    
        ```
        Content-Type: application/json
        ETag: "e0a63efa535618c9b2de56bbc53c7813"
        Last-Modified: Mon, 14 Oct 2013 10:28:46 GMT
        ```

    + Body

        ```json
        {
            "id": 100,
            "number": "N20130703",
            "variable_symbol": null,
            "supplier_name": "Google Czech Republic, s.r.o.",
            "supplier_street": "Klimentská 1216/46",
            "supplier_city": "Praha",
            "supplier_zip": "11000",
            "supplier_country": "CZ",
            "supplier_registration_no": "27604977",
            "supplier_vat_no": "CZ27604977",
            "subject_id": 19,
            "status": "paid",
            "document_type": "invoice",
            "issued_on": "2013-07-14",
            "taxable_fulfillment_due": "2013-07-14",
            "due_on": "2013-07-28",
            "paid_on": "2013-08-03",
            "description": null,
            "private_note": null,
            "tags": ["Materiál", "Školení"],
            "bank_account": null,
            "iban": null,
            "swift_bic": null,
            "payment_method": "bank",
            "currency": "CZK",
            "exchange_rate": "1.0",
            "transferred_tax_liability": false,
            "vat_price_mode": "without_vat",
            "supply_code": null,
            "subtotal": "58800.0",
            "total": "71148.0",
            "native_subtotal": "58800.0",
            "native_total": "71148.0",
            "paid_amount": "71148.0",
            "lines": [
                {
                    "id": 262,
                    "quantity": "5.0",
                    "unit_name": "myš",
                    "name": "Magic mouse",
                    "unit_price": "2000.0",
                    "vat_rate":21,
                    "unit_price_without_vat": "2000.0",
                    "unit_price_with_vat": "2420.0"
                }, {
                    "id": 263,
                    "quantity": "4.0",
                    "unit_name": "lidi",
                    "name": "Školení personálu",
                    "unit_price": "7000.0",
                    "vat_rate": 21,
                    "unit_price_without_vat": "7000.0",
                    "unit_price_with_vat": "8470.0"
                }, {
                    "id": 264,
                    "quantity": "1.0",
                    "unit_name": "",
                    "name": "Školení",
                    "unit_price": "20000.0",
                    "vat_rate": 21,
                    "unit_price_without_vat": "20000.0",
                    "unit_price_with_vat": "24200.0"
                }, {
                    "id": 265,
                    "quantity": "1.0",
                    "unit_name": null,
                    "name": "Kalkulačka",
                    "unit_price": "800.0",
                    "vat_rate": 21,
                    "unit_price_without_vat": "800.0",
                    "unit_price_with_vat": "968.0"
                }
            ],
            "html_url": "https://app.fakturoid.cz/applecorp/expenses/100",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/100.json",
            "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/19.json",
            "created_at": "2015-01-06T09:58:51.111+01:00",
            "updated_at": "2015-01-06T09:58:51.111+01:00"
        }
        ```   

### Úprava nákladu [PATCH]
Odpověď serveru na tento příkaz je `200 OK` a JSON s upraveným nákladem. 

Při odeslání nevalidních dat dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request Proper

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
          "number": "N20130704"
        }
        ```

+ Response 200

    [Expense][]

+ Request Faulty

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
          "number": ""
        }
        ```

+ Response 422 (application/json)

    ```json
    {
        "errors": {
            "number": [
                "je povinná položka"
            ]
        }
    }
    ```

### Smazání nákladu [DELETE]

Po smazání nákladu server vrátní odpověď `204 No Content`, nejde-li náklad smazat dostanete odpověď `422 Unprocessable Entity`.

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 204

+ Response 422 (application/json)

## Expenses actions [/accounts/{slug}/expenses/{id}/fire.json{?event}]

### Akce nad nákladem [POST]

Seznam možných událostí:

<table>
    <tr><th>event</th><th>popis</th></tr>
    <tr><td>pay</td><td>Označit jako zaplacenou (akceptuje volitelný parametr `paid_at`)</td></tr>
    <tr><td>remove_payment</td><td>Zrušit zaplacení</td></tr>
</table>

Po úspěšném vykonání události server vrátí odpověď `200 OK`. Pokud nebude možné událost vykonat, server vrátí odpověď `422 Unprocessable Entity`.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + id (integer, `1234`) ... id nákladu
    + event (string, `pay`) ... Událost
        + `pay`
        + `remove_payment`

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200 (application/json)

+ Response 422 (application/json)

## Expenses Collection [/accounts/{slug}/expenses.json]

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

### Nový náklad [POST]

Po úspěšném vytvoření nákladu dostanete ze serveru odpověď `201 Created`, hlavička `location` bude nastavena na adresu nově vytvořeného nákladu. Spolu s tím bude navrácen právě vytvořený náklad.

Pokud budou odeslána nevalidní data, dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
            "subject_id": "28",
            "currency": "CZK",
            "payment_method": "bank",
            "due": 10,
            "issued_on": "2012-03-30",
            "taxable_fulfillment_due": "2012-03-30",
            "lines": [
                {
                    "name": "Hard work",
                    "quantity": "1.0",
                    "unit_name": "h",
                    "unit_price": "40000",
                    "vat_rate": "21"
                }
            ]
        }
        ```

+ Response 201
    
    + Headers
    
        ```
        Content-Type: application/json
        Location: https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/201.json
        ```
    
    + Body
    
        ```json
        {
            "id": 201,
            "number": "N20150102",
            "variable_symbol": null,
            "supplier_name": "Pavel Druhý",
            "supplier_street": null,
            // other expense fields truncated ...
        }
        ```

### Seznam Nákladů [GET]

Seznam možných parametrů je uveden v tabulce. Jediným povinným je `slug`, který je součástí URL adresy. Ostatní parametry jsou nepovinné a přijdou na konec adresy např `?page=4`.
Parametry je možné libovolně kombinovat.

#### Možné stavy nákladů

<table>
  <tr><th>Status</th><th>Popis</th></tr>
  <tr><td>open</td><td>Náklad není zaplacený ani po splatnosti.</td></tr>
  <tr><td>overdue</td><td>Náklad je po splatnosti.</td></tr>
  <tr><td>paid</td><td>Náklad je zaplacený.</td></tr>
</table>

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 nákladech. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Náklady vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Náklady vytvořené nebo upravené po zadaném datu
    + number (optional, string, `N20150105`) ... Budou vráceny náklady s daným číslem
    + variable_symbol (optional, string `20150001`) ... Budou vráceny náklady s daným variabilním symbolem
    + status (optional, string, `paid`) ... Budou vráceny náklady v zadaném stavu.
    + subject_id (optional, integer, `5`) ... Náklady podle kontatku
    
+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200
    + Headers
        
        ```
        Content-Type: application/json
        ETag: "e50c359d3d1a49c705949037e8b188ef"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses.json?page=2>; rel="next"
        ```
    + Body
    
        ```json
        [
            {
                "id": 201,
                "number": "N20150102",
                "variable_symbol": null,
                "supplier_name": "Pavel Druhý",
                "supplier_street": null,
                // other expense fields truncated ...
            },
            {
                "id": 202,
                "number": "N20150103",
                "variable_symbol": null,
                "supplier_name": "Pavel Druhý",
                "supplier_street": null,
                // other expense fields truncated ...
            }
        ]
        ```

+ Response 400 (application/json)


## Expenses Collection fulltext search [/accounts/{slug}/expenses/search.json{?query}]

### Fulltextové vyhledávání v nákladech [GET]

Vyhledává se v následujících polích na nákladech: `number`, `variable_symbol`, `supplier_name`, `private_note`,
`description`, `lines`, `tags`.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + query (string, `Hledaný řetězec`) ... Hledaný řetězec
    + page (optional, integer, `4`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
        
        ```
        Content-Type: application/json
        ETag: "10b8f52d87e47e20ed63b3b74a78410d"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/search.json?page=1&query=data>; rel="first", <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/search.json?page=1&query=data>; rel="prev", <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/search.json?page=3&query=data>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/expenses/search.json?page=3&query=data>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 201,
                "number": "N20150102",
                "variable_symbol": null,
                "supplier_name": "Pavel Druhý",
                "supplier_street": null,
                // other expense fields truncated ...
            },
            {
                "id": 202,
                "number": "N20150103",
                "variable_symbol": null,
                "supplier_name": "Pavel Druhý",
                "supplier_street": null,
                // other expense fields truncated ...
            }
        ]
        ```

# Group Generators

## Šablony faktur (jednoduché i pravidelné)

<table>
<tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>

<tr><td>id</td><td>identifikátor šablony</td><td>integer, readonly</td></tr>

<tr><td>name</td><td>pojmenování šablony</td><td>string, required</td></tr>
<tr><td>recurring</td><td>true/false jedná se o pravidelnou nebo normální šablonu</td><td>boolean, required</td></tr>
<tr><td>proforma</td><td>příznak proformy - true/false</td><td>boolean, optional, default: false</td></tr>

<tr><td>paypal</td><td>vystavenou fakturu ze šablony půjde zaplati přes PayPal</td><td>boolean, optional, default: false</td></tr>
<tr><td>gopay</td><td>vystavenou fakturu ze šablony půjde zaplati přes GoPay</td><td>boolean, optional, default: false</td></tr>

<tr><td>start_date</td><td>počáteční datum pro pravidelnou šablonu</td><td>date, required for recurring invoices</td></tr>
<tr><td>end_date</td><td>koncové datum pro pravidelnou šablonu</td><td>date, optional</td></tr>
<tr><td>months_period</td><td>počet měsíců do dalšího vystavení faktury ze šablony (pravidelná šablona)</td><td>integer, required for recurring invoices</td></tr>
<tr><td>next_occurrence_on</td><td>datum dalšího vystavení faktury z pravidelné šablony</td><td>date, optional</td></tr>
<tr><td>due</td><td>počet dní, než bude po splatnosti (nepovinné - doplní se z účtu)</td><td>integer, optional, default: by account settings</td></tr>

<tr><td>send_email</td><td>true/false posílat pravidelnou šablonu emailem</td><td>boolean, optional, default: false</td></tr>
<tr><td>subject_id</td><td>ID kontaktu (povinné)</td><td>integer, required</td></tr>

<tr><td>bank_account_id</td><td>ID bankovního účtu (nepovinné - doplní se výchozí bankovní účet)</td><td>integer, optional, default: by account settings</td></tr>
<tr><td>bank_account</td><td>číslo bankovního účtu (nepovinné - doplní se výchozí bankovní účet), musí odpovídat některému účtu z Bankovních účtů</td><td>string, optional, default: by account settings</td></tr>
<tr><td>iban</td><td>IBAN</td><td>string, optional, default: by account settings</td></tr>
<tr><td>swift_bic</td><td>BIC (pro SWIFT platby)</td><td>string, optional, default: by account settings</td></tr>

<tr><td>tags</td><td>seznam tagů šablony (jen pravidelné)</td><td>array, optional</td></tr>

<tr><td>payment_method</td><td>bank (bankovní převod) / cash (hotově) / cod (dobírka)</td><td>string, optional</td></tr>
<tr><td>currency</td><td>kód měny (nepovinné - doplní se z účtu, 3 znaky)</td><td>string, optional, default: by account settings</td></tr>
<tr><td>exchange_rate</td><td>kurz (nepovinné)</td><td>decimal, optional</td></tr>
<tr><td>language</td><td>jazyk vystavené faktury (cz, sk, en, de, fr)</td><td>string, optional, default: cz</td></tr>
<tr><td>vat_price_mode</td><td>způsob zadávání cen do řádků</td><td>string, values: null, without_vat, with_vat</td></tr>
<tr><td>transferred_tax_liability</td><td>přenesená daňová povinnost true/false</td><td>boolean, optional, default: false</td></tr>
<tr><td>eu_electronic_service</td><td>příznak, pokud je faktura v režimu MOSS</td><td>boolean, optional, default: false</td></tr>

<tr><td>subtotal</td><td>součet (bez DPH)</td><td>decimal, readonly</td></tr>
<tr><td>native_subtotal</td><td>součet v měně účtu</td><td>decimal, readonly</td></tr>
<tr><td>total</td><td>celkový součet (včetně DPH)</td><td>decimal, readonly</td></tr>
<tr><td>native_total</td><td>celkový součet v měně účtu</td><td>decimal, readonly</td></tr>

<tr><td>html_url</td><td>HTML adresa šablony</td><td>string, readonly</td></tr>
<tr><td>url</td><td>API adresa šablony</td><td>string, readonly</td></tr>
<tr><td>subject_url</td><td>API adresa kontaktu</td><td>string, readonly</td></tr>
<tr><td>udated_at</td><td>datum poslední aktualizace šablony</td><td>datetime, readonly</td></tr>
</table>

### Atribut `vat_price_mode`

Nastavení `vat_price_mode` je ignorováno v následujícíh případech
- účet je neplátce DPH
- je zapnuta přenesená daňová povinnost

<table>
  <tr>
    <th>Hodnota</th><th>Popis</th>
  </tr>
  <tr>
    <td>null</td><td>doplní se automaticky z nastavení účtu</td>
  </tr>
  <tr>
    <td>without_vat</td><td>cena zadaná do řádků faktur je bez DPH a DPH se z ní dopočte přes procenta</td>
  </tr>
  <tr>
    <td>with_vat</td><td>cena zadaná do řádků faktur je včetně DPH a DPH se z ní dopočte koeficientem</td>
  </tr>
</table>

Řádky šablon jsou popsány výše v <a href="#reference/lines">Lines</a>

## Generator [/accounts/{slug}/generators/{id}.json]

+ Model

    ```json
    {
        "id": 4,
        "name": "Školení",
        "recurring": true,
        "proforma": false,
        "paypal": false,
        "gopay": false,
        "start_date": "2011-07-13",
        "end_date": null,
        "months_period": 1,
        "next_occurrence_on": "2012-06-13",
        "due": 10,
        "send_email": false,
        "subject_id": 4,
        "bank_account": null,
        "iban": null,
        "swift_bic": null,
        "bank_account_id": null,
        "currency": "CZK",
        "payment_method": "bank",
        "exchange_rate": "1.0",
        "language": null,
        "vat_price_mode": "without_vat",
        "subtotal": "20000.0",
        "total": "24000.0",
        "native_subtotal": "20000.0",
        "native_total": "24000.0",
        "lines": [
            {
                "id": 1,
                "name": "Školení",
                "quantity": "1.0",
                "unit_name": "",
                "unit_price": "20000.0",
                "vat_rate": 20
            }
        ],
        "html_url": "https://app.fakturoid.cz/applecorp/generators/4",
        "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/4.json",
        "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/4.json",
        "updated_at": "2012-05-13T12:11:37+02:00"
    }
    ```

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + id (integer, `20`) ... id šablony

### Detail šablony [GET]

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200
    
    + Headers
        
        ```
        Content-Type: application/json
        ETag: "221fff2205c3005243d543a7b849e70d"
        Last-Modified: Tue, 18 Jun 2013 09:01:58 GMT
        ```

    + Body
    
        ```json
        {
            "id": 4,
            "name": "Školení",
            "recurring": true,
            "proforma": false,
            "paypal": false,
            "gopay": false,
            "start_date": "2011-07-13",
            "end_date": null,
            "months_period": 1,
            "next_occurrence_on": "2012-06-13",
            "due": 10,
            "send_email": false,
            "subject_id": 4,
            "bank_account": null,
            "iban": null,
            "swift_bic": null,
            "bank_account_id": null,
            "tags": ["Školení"],
            "currency": "CZK",
            "payment_method": "bank",
            "exchange_rate": "1.0",
            "language": null,
            "vat_price_mode": "without_vat",
            "subtotal": "20000.0",
            "total": "24000.0",
            "native_subtotal": "20000.0",
            "native_total": "24000.0",
            "lines": [
                {
                    "id": 1,
                    "name": "Školení",
                    "quantity": "1.0",
                    "unit_name": "",
                    "unit_price": "20000.0",
                    "vat_rate": 20
                }
            ],
            "html_url": "https://app.fakturoid.cz/applecorp/generators/4",
            "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/4.json",
            "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/4.json",
            "updated_at": "2012-05-13T12:11:37+02:00"
        }
        ```

### Úprava šablony [PATCH]

Odpověď serveru na tento příkaz je `200 OK` a JSON s upravenou fakturou. 

Při odeslání nevalidních dat dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

+ Request Proper

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
        
    + Body
    
        ```json
        { "name": "Hosting" }
        ```

+ Response 200 (application/json)
    
    ```json
    {
        "id": 98,
        "name": "Hosting",
        "recurring": false,
        "currency": "CZK",
        "payment_method": "bank",
        // other generator fields truncated ...
    }
    ```

+ Request Faulty

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
        
    + Body
    
        ```json
        { "name": "" }
        ```

+ Response 422 (application/json)

    ```json
    {
        "errors": {
            "number": [
                "je povinná položka"
            ]
        }
    }
    ```

### Smazání šablony [DELETE]

Po smazání šablony server vrátní odpověď `204 No Content`.

+ Request

    + Headers
        
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 204

## Generators Collection [/accounts/{slug}/generators.json]

+ Parameters
    + slug (string, `applecorp`) ... Název účtu

### Nová šablona [POST]

Po úspěšném vytvoření šablony dostanete ze serveru odpověď `201 Created`, hlavička `location` bude nastavena na adresu nově vytvořené šablony. Spolu s tím bude navrácena právě vytvořená šablona.

Pokud budou odeslána nevalidní data, dostanete ze serveru odpověď `422 Unprocessable Entity` a JSON se seznamem chyb v odeslaných datech.

Na tarifech Zdarma a Sólo je povolena pouze jedna pravidelná šablona, pokud se pokusíte přidat další, server vrátí `403 Forbidden`.

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

    + Body
    
        ```json
        {
            "name": "Podpora",
            "recurring": false,
            "currency": "CZK",
            "payment_method": "bank",
            "bank_account_id": 7,
            "due": 10,
            "lines": [
                {
                    "name": "Hard work",
                    "quantity": "1.0",
                    "unit_name": "h",
                    "unit_price": "40000",
                    "vat_rate": "21"
                }
            ]
        }
        ```
        
+ Response 201
    
    + Headers
    
        ```
        Content-Type: application/json
        Location: https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/98.json
        ```
    
    + Body
    
        ```json
        {
            "id": 98,
            "name": "Podpora",
            "recurring": false,
            "currency": "CZK",
            "payment_method": "bank",
            // other generator fields truncated ...
        }
        ```

### Seznam šablon [GET]

Seznam možných parametrů je uveden v tabulce. Jediným povinným je `slug`, který je součástí URL adresy. Ostatní parametry jsou nepovinné a přijdou na konec adresy např `?page=4`.
Parametry je možné libovolně kombinovat.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `5`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + subject_id (optional, integer, `5`) ... Šablony podle kontatku
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené nebo upravené po zadaném datu

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        ETag: "19d196964ad49038f59384eed34e3e36"
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
    
        ```
        Content-Type: application/json
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators.json?page=2>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 5,
                "name": "Školení",
                "recurring": false,
                "proforma": false,
                "paypal": false,
                "gopay": false,
                "start_date": null,
                "end_date": null,
                "months_period": null,
                "next_occurrence_on": null,
                "due": 10,
                "send_email": false,
                "subject_id": null,
                "bank_account": null,
                "iban": null,
                "swift_bic": null,
                "bank_account_id": 7,
                "currency": "CZK",
                "payment_method": "bank",
                "exchange_rate": "1.0",
                "language": null,
                "vat_price_mode": "without_vat",
                "subtotal": "28000.0",
                "total": "33600.0",
                "native_subtotal": "28000.0",
                "native_total": "33600.0",
                "lines": [
                    {
                        "id": 50,
                        "name": "Školení personálu",
                        "quantity": "4.0",
                        "unit_name": "lidi",
                        "unit_price": "7000.0",
                        "vat_rate": 20
                    }
                ],
                "html_url": "https://app.fakturoid.cz/applecorp/generators/5",
                "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/5.json",
                "subject_url": null,
                "updated_at": "2012-05-13T12:11:38+02:00"
            },
            {
                "id": 4,
                "name": "Školení",
                "recurring": true,
                "proforma": false,
                "paypal": false,
                "gopay": false,
                "start_date": "2011-07-13",
                "end_date": null,
                "months_period": 1,
                "next_occurrence_on": "2012-06-13",
                "due": 10,
                "send_email": false,
                "subject_id": 4,
                "bank_account": null,
                "iban": null,
                "swift_bic": null,
                "bank_account_id": null,
                "currency": "CZK",
                "payment_method": "bank",
                "exchange_rate": "1.0",
                "language": null,
                "vat_price_mode": "without_vat",
                "subtotal": "20000.0",
                "total": "24000.0",
                "native_subtotal": "20000.0",
                "native_total": "24000.0",
                "lines": [
                    {
                        "id": 40,
                        "name": "Školení",
                        "quantity": "1.0",
                        "unit_name": "",
                        "unit_price": "20000.0",
                        "vat_rate": 20
                    }
                ],
                "html_url": "https://app.fakturoid.cz/applecorp/generators/4",
                "url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/4.json",
                "subject_url": "https://app.fakturoid.cz/api/v2/accounts/applecorp/subjects/4.json",
                "updated_at": "2012-05-13T12:11:37+02:00"
            }
        ]
        ```

## Generators Collection recurring [/accounts/{slug}/generators/recurring.json]

### Seznam pravidelných šablon [GET]

Parametry a jejich použití je stejné jako u seznamu šablon výše.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `5`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + subject_id (optional, integer, `5`) ... Šablony podle kontatku
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené nebo upravené po zadaném datu

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
    
        ```
        Content-Type: application/json
        ETag: "ba404a38bfefae21aef4c9884b1d325b"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/recurring.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/recurring.json?page=2>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 5,
                "name": "Školení",
                "recurring": true,
                // other generator fields truncated ...
            },
            {
                "id": 4,
                "name": "Školení",
                "recurring": true,
                // other generator fields truncated ...
            }
        ]
        ```

## Generators Collection templates [/accounts/{slug}/generators/template.json]

### Seznam jednoduchých šablon [GET]

Parametry a jejich použití je stejné jako u seznamu šablon výše.

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + page (optional, integer, `5`) ... Číslo stránky, stránkuje se po 20 fakturách. Pro neexistující stránku bude vrácena odpověď `400 Bad Request`
    + subject_id (optional, integer, `5`) ... Šablony podle kontatku
    + since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené po zadaném datu
    + updated_since (optional, datetime, `2012-05-20T15:00:00+01:00`) ... Šablony vytvořené nebo upravené po zadaném datu

+ Request

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```

+ Response 200

    + Headers
    
        ```
        Content-Type: application/json
        ETag: "bfda9ac2d2d8ec6f8b9b56f3b67d9d2b"
        Link: <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/template.json?page=6>; rel="last", <https://app.fakturoid.cz/api/v2/accounts/applecorp/generators/template.json?page=2>; rel="next"
        ```
    
    + Body
    
        ```json
        [
            {
                "id": 5,
                "name": "Školení",
                "recurring": false,
                // other generator fields truncated ...
            },
            {
                "id": 4,
                "name": "Školení",
                "recurring": false,
                // other generator fields truncated ...
            }
        ]
        ```


# Group Messages

## Posílání faktur emailem

<table>
  <tr><th>Atribut</th><th>Popis</th><th>Detail</th></tr>
  <tr><td>email</td><td>E-mail příjemce</td><td>string, optional, default: by invoice subject</td></tr>
  <tr><td>email_copy</td><td>Kopie na e-mail</td><td>string, optional, default: by invoice subject</td></tr>
  <tr><td>subject</td><td>Předmět emailu</td><td>string, optional</td></tr>
  <tr><td>message</td><td>Text e-mailu</td><td>string, optional, default: by account settings</td></tr>
</table>

__Poznámka:__ Je přístupné pouze pro placené účty.

## Message [/accounts/{slug}/invoices/{invoice_id}/message.json]

### Odeslání E-mailu [POST]

Po úspěšném vytvoření e-mailu server vrací odpověď `201 Created`.

Pokud budou odeslána nevalidní data, server odpoví `422 Unprocessable Entity` se seznamem chyb.

Při odeslání požadavku neplaceným účtem bude odpověď serveru `403 Forbidden`.

####Použité výchozí hodnoty:

Pokud nevyplníte některou z položek pro email, doplní se hodnotou z účtu.

<table>
  <tr><th>Stav faktury</th><th>Popis</th></tr>
  <tr><td>Po splatnost</td><td>Použijí se výchozí hodnoty pro upomínku.</td</tr>
  <tr><td>Ostatní</td><td>Použijí se výchozí hodnoty pro odeslání faktury.</td></tr>
</table>

#### Proměnné, které je možné v textu e-mailu použít:
<table>
  <tr><th>Proměnná</th><th>Popis</th></tr>
  <tr><td>#link#</td><td>odkaz na stránku s náhled a tiskem faktury</td</tr>
  <tr><td>#no#</td><td>číslo faktury</td</tr>
  <tr><td>#vs#</td><td>variabilní symbol</td</tr>
  <tr><td>#price#</td><td>koncová cena</td></tr>
  <tr><td>#due#</td><td>datum splatnosti</td></tr>
</table>

+ Parameters
    + slug (string, `applecorp`) ... Název účtu
    + invoice_id (integer, `1234`) ... id faktury

+ Request Proper

    + Headers
    
        ```
        Content-Type: application/json
        User-Agent: YourApp (yourname@example.com)
        ```
    
    + Body
    
        ```json
        {
            "email": "applecorp@applecorp.cz",
            "email_copy":"",
            "subject": "E-mail subject",
            "message": "Hello,\n\nI have invoice for you.\n#link#\n\n   John Doe"
[...]
